<% include ../partials/twoColumnHeader %>

<div id="navagate-newplayer">
	<a href="/teams">All of the Teams</a>
	<a href="/teams/<%= team._id %>">Back to <%= team.name %></a>
</div>
<div id="topbar-newplayer">
		
	<div id="insidetopbar-newplayer">

			<h1>Draft players to <%= team.name %>!</h1>
	</div>

</div>

<div id="twocolumnrow-newplayer" class="row">

<!-- Left Column -->
	<div class="col-md-4 col-md-offset-2 column" id="leftcolumn-newplayer">
		<form action="/teams" id="formleft-newplayer">
			<label for="labelleft-newplayer">Enter a First and Last Name:</label>
			<p>Be sure to spell their first and last name correctly! <a href="http://www.google.com">Google</a></p>
				<input type="text" name="firstnameinputleft-newplayer" class="nameinput" id="firstnameinput-newplayer" autofocus placeholder="First Name">
				<input type="text" name="lastnameinputright-newplayer" class="nameinput" id="lastnameinputright-newplayer" placeholder="Last Name">
			<input type="submit" class="nameinput" value="Find Player">
		</form>
	</div>


<!-- Right Column -->
	<div class="col-md-4 col-md-offset-0 column" id="rightcolumn-newplayer">
		<form action="/teams" id="formright-newplayer">
			<label for="labelright-newplayer">Enter a First and Last Name:</label>
			<p>Be sure to spell their first and last name correctly! <a href="http://www.google.com">Google</a></p>
				<input type="text" name="firstnameinputright-newplayer" class="nameinput" id="firstnameinput-newplayer" autofocus placeholder="First Name">
				<input type="text" name="lastnameinputright-newplayer" class="nameinput" id="lastnameinputright-newplayer" placeholder="Last Name">
			<input type="submit" class="nameinput" value="Find Player">
		</form>
		
	</div>
	

</div>












<!-- <div id="playersnew-header">
	<h1>Add Players to <%= team.name %></h1>
</div>

<div id="playersnew-wrapper">
	
	<div id="playersnew-one">
		
		<form action="/teams" id="player1-form">
			<label for="player1first">Enter a First and Last Name:</label>
			<p>Be sure to spell their first and last name correctly! <a href="http://www.google.com">Google</a></p>
				<input type="text" name="player1first" id="player1first" autofocus placeholder="First Name">
				<input type="text" name="player1last" id="player1last" placeholder="Last Name">
			<input type="submit" value="Find Player">
		</form>

		<div id="hiddenstatsplayer1">

			<div id="pictureplayer1">
				<img src="" alt="Player Photo" id="urlplayer1" height=200 width=250>

			</div>

			<h2 id="nameplayer1"></h2>
			<h3>Stats:</h3>
			<h4>Points: <span id="pointsplayer1"></span></h4>
			<h4>Assists: <span id="assistsplayer1"></span></h4>
			<h4>Rebounds: <span id="reboundsplayer1"></span></h4>
			<h4>Steals: <span id="stealsplayer1"></span></h4>
			<h4>Blocks: <span id="blocksplayer1"></span></h4>
			<h2>Score: <span id="scoreplayer1"></span></h2>

			<form action="/teams/<%= team.id %>/players" id="addplayer1">
				<input type="submit" value="Add player to your team">
				<input type="hidden" name="teamid" id= "teamid" value="<%= team.id %>">
			</form>




		</div>
		<div id="successfuladd">
			<p>The player was added to your team. Add again or see your team <a href="teams/<%= team.id %>">here</a></p>

		</div>


	</div>




</div> -->




<% include ../partials/footer %>