<% include ../partials/twoColumnHeader %>

<div id="navagate-newplayer">
	<a href="/teams/<%= team._id %>"><%= team.name %></a>
	<a href="/teams">The Leauge</a>
	<a href="/logout">Logout</a>
</div>
<div id="topbar-newplayer">
		
	<div id="insidetopbar-newplayer">

			<h1>Compare and Draft Players!</h1>
	</div>

</div>

<div id="twocolumnrow-newplayer" class="row">

<!-- Left Column -->
	<div class="col-md-4 col-md-offset-2 column" id="leftcolumn-newplayer">

		<form action="/teams" id="formleft-newplayer">
			<label for="labelleft-newplayer">Enter a First and Last Name:</label>
			<p>Be sure to spell their first and last name correctly! <a href="http://www.google.com">Google</a></p>
				<input type="text" name="firstnameinputleft-newplayer" class="input" id="firstnameinputleft-newplayer" autofocus placeholder="First Name">
				<input type="text" name="lastnameinputleft-newplayer" class="input" id="lastnameinputleft-newplayer" placeholder="Last Name">
			<input type="submit" class="input" value="Find Player">
		</form>


<!-- Hidden Stats Left -->

		<div id="hiddenstatsleft-newplayer" style="display: none;" >

			<div id="picturedivleft-newplayer">
				<img src="" alt="Player Photo" id="urlplayerleft" class="backgroundleft" height=200 width=250>

			</div>

			<h2 id="nameplayerleft" class="backgroundleft"></h2>
			<h3>Stats:</h3>
			<h4>Points: <span id="pointsplayerleft" class="backgroundleft"></span></h4>
			<h4>Assists: <span id="assistsplayerleft" class="backgroundleft"></span></h4>
			<h4>Rebounds: <span id="reboundsplayerleft" class="backgroundleft"></span></h4>
			<h4>Steals: <span id="stealsplayerleft" class="backgroundleft"></span></h4>
			<h4>Blocks: <span id="blocksplayerleft" class="backgroundleft"></span></h4>
			<h2>Score: <span id="scoreplayerleft" class="backgroundleft"></span></h2>

			<form action="/teams/<%= team.id %>/players" id="addplayerleft">
				<input type="submit" class="input" value="Add player to your team">
				<input type="hidden" name="teamid" id= "teamid" value="<%= team.id %>">
			</form>


		</div>
		<div id="successfuladdleft">
			<p id="addagain">The player was added to your team. Add again or see your team <a href="/teams/<%= team.id %>">here</a></p>

		</div>


	</div>


<!-- Right Column -->
	<div class="col-md-4 col-md-offset-0 column" id="rightcolumn-newplayer" >
		<form action="/teams" id="formright-newplayer">
			<label for="labelright-newplayer">Enter a First and Last Name:</label>
			<p>Be sure to spell their first and last name correctly! <a href="http://www.google.com">Google</a></p>
				<input type="text" name="firstnameinputright-newplayer" class="input" id="firstnameinputright-newplayer"  placeholder="First Name">
				<input type="text" name="lastnameinputright-newplayer" class="input" id="lastnameinputright-newplayer" placeholder="Last Name">
			<input type="submit" class="input" value="Find Player">
		</form>
<!-- Hidden Stats Right -->

		<div id="hiddenstatsright-newplayer" style="display: none;" >

			<div id="picturedivright-newplayer">
				<img src="" alt="Player Photo" id="urlplayerright" class="backgroundright" height=200 width=250>

			</div>

			<h2 id="nameplayerright" class="backgroundright"></h2>
			<h3>Stats:</h3>
			<h4>Points: <span id="pointsplayerright" class="backgroundright"></span></h4>
			<h4>Assists: <span id="assistsplayerright" class="backgroundright"></span></h4>
			<h4>Rebounds: <span id="reboundsplayerright" class="backgroundright"></span></h4>
			<h4>Steals: <span id="stealsplayerright" class="backgroundright"></span></h4>
			<h4>Blocks: <span id="blocksplayerright" class="backgroundright"></span></h4>
			<h2>Score: <span id="scoreplayerright" class="backgroundright"></span></h2>

			<form action="/teams/<%= team.id %>/players" id="addplayerright">
				<input type="submit" class="input" value="Add player to your team">
				<input type="hidden" name="teamid" id= "teamid" value="<%= team.id %>">
			</form>



		</div>

		<div id="successfuladdright">
			<p>The player was added to your team. Add again or see your team <a href="/teams/<%= team.id %>">here</a></p>

		</div>

		
	</div>
	

</div>












<!-- <div id="playersnew-header">
	<h1>Add Players to <%= team.name %></h1>
</div>

<div id="playersnew-wrapper">
	
	<div id="playersnew-one">
		
		<form action="/teams" id="player1-form">
			<label for="player1first">Enter a First and Last Name:</label>
			<p>Be sure to spell their first and last name correctly! <a href="http://www.google.com">Google</a></p>
				<input type="text" name="player1first" id="player1first" autofocus placeholder="First Name">
				<input type="text" name="player1last" id="player1last" placeholder="Last Name">
			<input type="submit" value="Find Player">
		</form>

		<div id="hiddenstatsplayer1">

			<div id="pictureplayer1">
				<img src="" alt="Player Photo" id="urlplayer1" height=200 width=250>

			</div>

			<h2 id="nameplayer1"></h2>
			<h3>Stats:</h3>
			<h4>Points: <span id="pointsplayer1"></span></h4>
			<h4>Assists: <span id="assistsplayer1"></span></h4>
			<h4>Rebounds: <span id="reboundsplayer1"></span></h4>
			<h4>Steals: <span id="stealsplayer1"></span></h4>
			<h4>Blocks: <span id="blocksplayer1"></span></h4>
			<h2>Score: <span id="scoreplayer1"></span></h2>

			<form action="/teams/<%= team.id %>/players" id="addplayer1">
				<input type="submit" value="Add player to your team">
				<input type="hidden" name="teamid" id= "teamid" value="<%= team.id %>">
			</form>




		</div>
		<div id="successfuladd">
			<p>The player was added to your team. Add again or see your team <a href="teams/<%= team.id %>">here</a></p>

		</div>


	</div>




</div> -->




<% include ../partials/footer %>