<% include ../partials/playersShowHeader %>

<div id="navagate-playershow">
	<a href="/teams/<%= player.team._id %>"><%= player.team.name %></a>
	<a href="/teams">The Leauge</a>
	<% if(isLoggedIn) { %>
		<a href="/logout">Logout</a>
	<% } %>
</div>

<div id="topbar-playershow">
		
	<div id="insidetopbar-playershow">


		<h1><%= player.name %></h1>
		
	</div>
</div>


<div id="innerbox-playershow" class="row col-md-8 col-md-offset-2">

	<img src="<%= player.team.imageUrl %>" alt="Team Logo" height=200 width=250>
	<img src="<%= player.imageUrl %>" alt="Player Photo" height=200 width= 250>
		
</div>

<div id="innerbox-playerstats" class="row col-md-8 col-md-offset-2">
	<p><%= player.name %>'s Recent Stats</p>
	<canvas id="myChart" width="600" height="200"></canvas>

		
	


</div>


<% include ../partials/footer %>