<% include ../partials/header %>

<div id="navagate-edit">
	<a href="/teams/<%= team._id%> "><%= team.name %></a>
	<a href="/teams">The Leauge</a>
</div>

<div id="topbar-edit">
		
	<div id="insidetopbar-edit">

		
		<h1>Change <%= team.name %></h1>


	</div>

</div>


<div id="teamedit-main">

	<div id="teamedit-centered">
		<form action="/teams/<%= team._id %>?_method=PUT" method="POST">
			<label for="name">Team Name:</label>
			<input type="text" name="team[name]" id="name" value="<%= team.name %>">
			<label for="image">Team Logo URL:</label>
			<input type="text" name="team[imageUrl]" id="image" value="<%= team.imageUrl %>">
			<input type="submit" value="Edit">
		</form>
	</div>
	<div>
		<a href="/teams/<%= team.id %>/players/new">Draft more players</a>
	</div>

</div>



<% include ../partials/footer %>