<% include ../partials/teamShowPageHeader %>

<div id="navagate-show">
	<a href="/teams">The League</a>
	<% if (isLoggedIn._id !== "a") { %>
		<a href="/logout">Logout</a>
	<% } %>
</div>

<div id="topbar-show">
		
	<div id="insidetopbar-show">


		<h1><%= team.name %></h1>

	</div>

</div>


<div id="teamsshow-main">
	
	<% if (isLoggedIn._id.toString() === team.owner.toString()) {%>
		<form class="optional" action="/teams/<%= team._id %>/edit">
			<input type="submit" value="Edit <%= team.name %>">
		</form>
		
		<form class="optional" action="/teams/<%= team._id %>?_method=DELETE" method="POST">
			<input type="submit" value="Delete <%= team.name %>">
			<input id="hiddenid" type="hidden" name="" value="<%= team._id %>">
		</form>

	<% } %>
	<h2>Roster:</h2>

	<div id="rosterdiv">
		<table class="table table-hover">
			<thead>
				<th>Player's Photo</th>
				<th>Player' Name</th>
				
				<% if (isLoggedIn._id.toString() === team.owner.toString()) {%>
					<th class="optional">Delete</th>
				<% } %>

			</thead>

			<tbody>
					<% team.players.forEach(function(player) { %>
					<tr>

						<td><img src="<%= player.imageUrl %>" alt="Photo of <%= player.name %>" height=200 width=250></td>
						<td><a href="/players/<%= player.id %>"><%= player.name %></a></td>
						
						<% if (isLoggedIn._id.toString() === team.owner.toString()) {%>
							<td class="optional">
								<form action="/players/<%= player._id %>?_method=DELETE" method="POST">
									<input type="submit" value="Delete">
								</form>
							</td>
						<% } %>

					</tr>
					<%	})%>
			</tbody>
		</table>
	
	</div>
</div>

<% include ../partials/footer %>