<% include ../partials/header %>

<div id="teamsshow-main">
	
	<h1><%= team.name %></h1>
	<h2>Roster:</h2>

	<div id="rosterdiv">
		<table class="table table-hover">
			<thead>
				<th>Player's Photo</th>
				<th>Player' Name</th>
				<th class="optional">Delete</th>
			</thead>

			<tbody>
					<% team.players.forEach(function(player) { %>
					<tr>
						<td><img src="<%= player.imageUrl %>" alt="Photo of <%= player.name %>" height=200 width=250></td>
						<td><%= player.name %></td>
						<td class="optional">Delete</td>
					</tr>
					<%	})%>
			</tbody>
		</table>
		<form class="optional" action="/teams/<%= team._id %>?_method=DELETE" method="POST">
			<input type="submit" value="Delete <%= team.name %>">
			<input id="hiddenid" type="hidden" name="" value="<%= team._id %>">
		</form>

		<form class="optional" action="/teams/<%= team._id %>/edit">
			<input type="submit" value="Edit <%= team.name %>">
		</form>
	</div>
</div>

<% include ../partials/footer %>